#slider_container.row
	#slider.small-12.medium-12.large-12.columns
		ul.orbit-panel(data-orbit='')
			li
				img(src='http://i.imgur.com/nKivn.jpg', alt='Driving Lessons 1')
					.orbit-caption
						| Caption One.
			li
				img(src='http://i.imgur.com/8Qp1T.jpg', alt='Driving Lessons 2')
					.orbit-caption
						| Caption Two.
			li
				img(src='http://i.imgur.com/mw1JS.jpg', alt='Driving Lessons 3')
					.orbit-caption
						| Caption Three.
		.timer
			span.mask
			span.rotator
			span.pause
		.slider-nav
			span.right
			span.left
#panels.row
	#panel_1.small-4.medium-4.large-4.columns
		.callout.panel
			h1.tk-bello-pro Who?
			p
				| Praesent eleifend congue turpis vitae fringilla. Donec egestas ante eu nulla pretium suscipit. Phasellus sed rutrum nisl. Cras dignissim dui eget lorem pellentesque convallis. Sed vel augue lorem. Cras ullamcorper luctus justo ut porta. Fusce feugiat adipiscing lacinia. Quisque ac laoreet nibh.
	#panel_2.small-4.medium-4.large-4.columns
		.callout.panel
			h1.tk-bello-pro Where?
			iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d79377.04218935291!2d-0.07614229379909068!3d51.55846971768669!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2suk!4v1403798051704', width='225', height='225', frameborder='0', style='border:0')
			// img(src='http://placehold.it/225/&text=google map')
	#panel_3.small-4.medium-4.large-4.columns
		.callout.panel
			h1.tk-bello-pro Why?
			ul
				li Experienced Instructors
				li Competetive Prices
				li Unparalled Pass Rates
				li Based in East London
