#slider_container.row
	#slider.small-12.medium-12.large-12.columns
		ul.orbit-panel(data-orbit='')
			li
				img(src='http://i.imgur.com/nKivn.jpg', alt='Driving Lessons 1')
					.orbit-caption
						| Caption One.
			//li
				img(src='http://i.imgur.com/8Qp1T.jpg', alt='Driving Lessons 2')
					.orbit-caption
						| Caption Two.
			li
				img(src='http://i.imgur.com/mw1JS.jpg', alt='Driving Lessons 3')
					.orbit-caption
						| Caption Three.
		.timer
			span.mask
			span.rotator
			span.pause
		.slider-nav
			span.right
			span.left
#panels
	.row
		#panel_1.small-12.medium-12.large-12.columns
			.callout.panel
				// h1.tk-bello-pro About
				p
					| Established in 2011, Integral Motoring is an independent driving school, providing tuition to a range of individuals, from absolute beginners to fully qualified drivers.
				p
					|	Based in North London, the school operates in and around the Wood Green DVSA Test Centre area, enabling students to become familiar with the roads where they may later take their test.
	.row
		#panel_2.small-6.medium-6.large-6.columns
			.callout.panel
				// h1.tk-bello-pro Location
				iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d39653.46753950597!2d-0.1049070000000583!3d51.598627000000036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1423678833768' width='300' height='306' frameborder='0' style='border:0')
		#panel_3.small-6.medium-6.large-6.columns
			.callout.panel
				h3.tk-bello-pro Competitive, Reliable, Professional	
				p 
					| As well as highly competitive rates, you can expect a reliable, punctual service from a fully qualified instructor. At the start of each session, your instructor will drive to meet you, beginning and ending the session at your home, work, or chosen place that’s convenient for you (within the area).
				h3.tk-bello-pro No Mileage Limit	
				p
					| There is also no mileage limit, as each session is tailored to suit the needs of the student. For many individuals, there is nothing more beneficial than practical driving experience. Some driving schools, however, may restrict the amount of distance travelled as a means of cutting their costs.
				p
					| With Integral Motoring, you get the driving tuition that’s right for you.