footer
	#footerbar.row
		#disclaimer.small-5.small-offset-1.columns
			h5(data-reveal-id='disclaimer-modal') lesson fees &amp; terms
		#scopevale.small-5.columns
			img(src='http://i.imgur.com/nP13E.png', alt='scopevale')
			h5
				a(target='_blank', href='http://www.scopevale.co.uk', title='visit scopevale.co.uk') website by scopevale
		.small-1.columns
#disclaimer-modal.reveal-modal(title='Lesson Fees & Terms of Business', data-reveal)
	h2.tk-bello-pro LESSON FEES &amp; TERMS OF BUSINESS
	p
		strong Bookings of lessons/test:
		|  Lesson fees are £20 for a one hour session, and £15 for each additional hour within the session.
		| With regard to tests, a minimum of two hours must be booked – this allows time for final preparation and travel to and from the test centre.
		| All payments made must be received by us and cleared before commencement of the session.
	p
		strong Pupils Responsibilities:
		|  The pupil is responsible for booking and paying for their test unless otherwise arranged with us.
		| The pupil is responsible for ensuring their licence is valid whenever they drive an automobile.
		| The pupil must give adequate notice (minimum of 48 hours), to cancel a session. Late cancellation could result in the loss of their fee.
	p
		strong Our Responsibilities:
		|  A fully insured, suitable vehicle will be provided for any lessons/tests.
		| Adequate notice would be given if, for any reason, a vehicle is no longer available for the test, or if a lesson is cancelled by us. For tests this means in time to avoid loss of the DSA test fee. For lessons, notice of at least 48 hours.
	p
		| Procedure for complaints:	Should you feel you have any complaints to make, please make them to the instructor directly. This can either be in person, or by calling the contact number at the top of this page. Should we fail to resolve the issue, we may refer to the DSA’s Registrar of Approved Driving Instructors who would further advise. If there was still no satisfaction, the matter could be brought before a panel from the ADI industry, and if necessary, be referred to the courts or other statutory body.
