.logo.row
	.small-6.columns
		img(src='/img/integral-motoring-logo-small-01.png', alt='Integral Motoring logo')
	.small-6.columns
		p 
			|   tel: 07415 801 193
		p
			| email: integralmotoring@gmail.com
