footer
	#footerbar.row
		#disclaimer.small-5.small-offset-1.columns
			h5(data-reveal-id='disclaimer-modal') legal disclaimer
		#scopevale.small-5.columns
			img(src='http://i.imgur.com/nP13E.png', alt='scopevale')
			h5
				a(target='_blank', href='http://www.scopevale.co.uk', title='visit scopevale.co.uk') website by scopevale
		.small-1.columns
#disclaimer-modal.reveal-modal(title='Legal Disclaimer', data-reveal)
	h2 Legal Disclaimer
	p
		| Praesent eleifend congue turpis vitae fringilla. Donec egestas ante eu nulla pretium suscipit. Phasellus sed rutrum nisl. Cras dignissim dui eget lorem pellentesque convallis. Sed vel augue lorem. Cras ullamcorper luctus justo ut porta. Fusce feugiat adipiscing lacinia. Quisque ac laoreet nibh. Pellentesque scelerisque sagittis orci, et facilisis magna lobortis in. Cras vitae elit in ipsum facilisis sagittis.